<!DOCTYPE html>
<html>
<head>
  <title>Bryan Alexander</title>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="assets/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/favicon/assets/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="assets/favicon/favicon-128.png" sizes="128x128" />
  
  <meta name="application-name" content="&nbsp;"/>
  
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="assets/favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="assets/favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="assets/favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="assets/favicon/mstile-310x310.png" />
  
  <link rel="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" />
  <link rel="javascript" src="assets/responsiveslides.min.js" />
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'responsive_slider', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <!-- Nav -->
    <nav class="navbar transparent navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav list-inline">
                  <li><a href="#">projects</a></li>
                  <li><a href="/assets/bryan-alexander-resume.pdf" target="_blank">resumé</a></li>
                  <li><a href="/blog">blog</a></li>
              </ul>
              <a class="navbar-brand" href="/">
                <%= image_tag "logo-green.svg" %>
              </a>
          </div>
        </div>
    </nav>
    <div id="container">
      <div id="main">
        <%= yield %>
      </div>

      <!-- Footer -->
      <div id="footer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4">
                      <!--<h4><img class="mail-small" src="<%= asset_path '1x1.png' %>"/>contact</h4>
                      <p><span class="encoded">oc.rednaxelanayrb@olleh</span></p> -->
                  </div>
                  
                  <div class="col-md-4">
                    <div class="social-icons">
                        <a href="https://twitter.com/bryanalexandr" target="_blank"><img class="twitter" src="<%= asset_path '1x1.png' %>"/></a>
                        <a href="https://instagram.com/balexandr/" target="_blank"><img class="instagram" src="<%= asset_path '1x1.png' %>"/></a>
                        <a href="https://www.facebook.com/bryanalexandr" target="_blank"><img class="facebook" src="<%= asset_path '1x1.png' %>"/></a>
                        <a href="https://www.linkedin.com/in/bryanalexandr" target="_blank"><img class="linkedin" src="<%= asset_path '1x1.png' %>"/></a>
                        <a href="https://github.com/balexandr" target="_blank"><img class="github" src="<%= asset_path '1x1.png' %>"/></a>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                      <!--<h4><img class="twitter-small" src="<%= asset_path '1x1.png' %>"/>twitter</h4>
                      <p>wednesday 11.18.14<br/>
                      This is a tweet tweet
                      </p>
                      
                      <p>wednesday 11.18.14<br/>
                      This is a tweet tweet
                    </p> -->
                  </div>
                  <!--<div class="col-md-4">
                      <h4><img class="message-small" src="<%= asset_path '1x1.png' %>"/>get a quote</h4>
                      <form role="form">
                          <div class="form-group has-feedback has-feedback-left">
                              <input type="text" class="form-control form-control-padding" id="name" placeholder="name">
                              <i class="form-control-feedback fa fa-user"></i>
                          </div>
                          <div class="form-group has-feedback has-feedback-left">
                              <input type="email" class="form-control form-control-padding" id="email" placeholder="email">
                              <i class="form-control-feedback fa fa-envelope"></i>
                          </div>
                          <div class="form-group">
                              <textarea class="form-control" rows="3" placeholder="say something"></textarea>
                          </div>
                          <button type="button" class="btn btn-default pull-right">submit</button>
                      </form>
                  </div> -->
              </div>
              <!-- Copyright
              <div class="row">
                  <div class="col-md-12">
                      <div class="copyright">
                          <p>Made with love &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&mdash;&nbsp; <img class="logo-tiny" src="<%= asset_path '1x1.png' %>"/> &mdash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &copy; Bryan Alexander <%= Time.now.year %></p>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
    </div>
</body>
</html>
